@import url('https://fonts.googleapis.com/css?family=Lato');

*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body{
  background-color: #E7EAEC;
  margin:0;
  padding: 0;
}

nav{
  height: 100px;
  width: 100%;
  background-color: #243A47;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  padding-top: 10px;
  padding-left: 15px;
}

.main-page-logo{
  /*flex: 1;*/
  float: left;
}

.nav-button{
  float: right;
  margin: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  line-height: 14px;
  color: #F5F6F6;
}

.main-container{
  /*display: flex;
  justify-content: space-between;
  align-items: center;*/
  width: 100%;
  display: inline-block;
  padding-top: 200px;
  /*vertical-align: top;*/
  /*text-align: center;*/
}

.left-container{
  /*height: 150px;*/
  width: calc(98%/3);
  display: inline-block;
  padding: 10px;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}

.middle-container{
  /*height: 150px;*/
  width: calc(98%/3);
  display: inline-block;
  padding: 10px;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}

.right-container{
  /*height: 150px;*/
  width: calc(98%/3);
  display: inline-block;
  padding: 10px;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}

.main-buttons{
  border: 2px solid black;
  background-color: #243A47;
  color: #fff;
  padding: 15px;
  border-radius: 20px;
  text-align: center;
}

.footer-box{
  font-family: lato;
  width: 100%;
  height: 50px;
  background-color:#243A47;
  position: fixed;
  bottom: 0;
  text-align: center;
  padding-top: 17px;
  color: #D3D3D3;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}
